<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>60</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>UNDEFINED</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>REPO</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.4.3">
      <gitLabConnection>https://am-git.intern.epages.de/</gitLabConnection>
    </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <de.pellepelster.jenkins.walldisplay.WallDisplayJobProperty plugin="jenkinswalldisplay@0.6.30"/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <quietPeriod>0</quietPeriod>
  <assignedNode>cd-vm-test-master-03</assignedNode>
  <canRoam>false</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

# Deploy epages-infra repo.
if [[ ! -d ~/epages-infra/.git ]] ; then
    echo &apos;Deploying repo epages-infra...&apos;
    cd ~
    git clone git@github.com:ePages-de/epages-infra.git
else
    echo &apos;Updating master branch of repo epages-infra...&apos;
    cd ~/epages-infra &amp;&amp; git pull origin master
fi</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

export BUILD_ID=dontKillMe
~/epages-infra/scripts/epages/jenkins-installs-epages.sh -i simple/install-epages.conf -r ftp://ftp.epages.com/pub/epages/build/repo/$REPO</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
export BUILD_ID=dontKillMe
ERRORS=&apos;false&apos;

~/epages-infra/scripts/epages/test/run_regression_tests.sh
if [[ $? -ne 0 ]] ; then
    ERRORS=&apos;true&apos;
    echo &apos;----------------------------------------------------------------&apos;
    echo &quot;Failure: &apos;~/epages-infra/scripts/epages/test/run_regression_tests.sh&apos; returned with error code.&quot;
    echo &apos;----------------------------------------------------------------&apos;
fi

~/epages-infra/scripts/epages/test/run_perl_module_tests.sh Site
if [[ $? -ne 0 ]] ; then
    ERRORS=&apos;true&apos;
    echo &apos;----------------------------------------------------------------&apos;
    echo &quot;Failure: &apos;~/epages-infra/scripts/epages/test/run_perl_module_tests.sh Site&apos; returned with error code.&quot;
    echo &apos;----------------------------------------------------------------&apos;
fi

~/epages-infra/scripts/epages/compile_templates.sh
if [[ $? -ne 0 ]] ; then
    ERRORS=&apos;true&apos;
    echo &apos;----------------------------------------------------------------&apos;
    echo &quot;Failure: &apos;~/epages-infra/scripts/epages/compile_templates.sh&apos; returned with error code.&quot;
    echo &apos;----------------------------------------------------------------&apos;
fi

~/epages-infra/scripts/epages/test/run_check_for_unused_files.sh
if [[ $? -ne 0 ]] ; then
    ERRORS=&apos;true&apos;
    echo &apos;----------------------------------------------------------------&apos;
    echo &quot;Failure: &apos;~/epages-infra/scripts/epages/test/run_check_for_unused_files.sh&apos; returned with error code.&quot;
    echo &apos;----------------------------------------------------------------&apos;
fi

~/epages-infra/scripts/epages/test/run_check_language_tags.sh -s &quot;Store&quot;
if [[ $? -ne 0 ]] ; then
    ERRORS=&apos;true&apos;
    echo &apos;----------------------------------------------------------------&apos;
    echo &quot;Failure: &apos;~/epages-infra/scripts/epages/test/run_check_language_tags.sh -s Store&apos; returned with error code.&quot;
    echo &apos;----------------------------------------------------------------&apos;
fi

~/epages-infra/scripts/epages/test/run_check_language_tags.sh -s &quot;Site&quot;
if [[ $? -ne 0 ]] ; then
    ERRORS=&apos;true&apos;
    echo &apos;----------------------------------------------------------------&apos;
    echo &quot;Failure: &apos;~/epages-infra/scripts/epages/test/run_check_language_tags.sh -s Site&apos; returned with error code.&quot;
    echo &apos;----------------------------------------------------------------&apos;
fi

~/epages-infra/scripts/epages/test/run_create_one_shop_per_shoptype_test.sh
if [[ $? -ne 0 ]] ; then
    ERRORS=&apos;true&apos;
    echo &apos;----------------------------------------------------------------&apos;
    echo &quot;Failure: &apos;~/epages-infra/scripts/epages/test/run_create_one_shop_per_shoptype_test.sh&apos; returned with error code.&quot;
    echo &apos;----------------------------------------------------------------&apos;
fi

~/epages-infra/scripts/epages/test/run-compile-test-perl-files.sh
if [[ $? -ne 0 ]] ; then
    ERRORS=&apos;true&apos;
    echo &apos;----------------------------------------------------------------&apos;
    echo &quot;Failure: &apos;~/epages-infra/scripts/epages/test/run-compile-test-perl-files.sh&apos; returned with error code.&quot;
    echo &apos;----------------------------------------------------------------&apos;
fi

~/epages-infra/scripts/epages/test/test_shorturls.sh
if [[ $? -ne 0 ]] ; then
    ERRORS=&apos;true&apos;
    echo &apos;----------------------------------------------------------------&apos;
    echo &quot;Failure: &apos;~/epages-infra/scripts/epages/test/test_shorturls.sh&apos; returned with error code.&quot;
    echo &apos;----------------------------------------------------------------&apos;
fi

if [[ &quot;${ERRORS}&quot; = &apos;true&apos; ]] ; then exit 1 ; fi</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.jabber.im.transport.JabberPublisher plugin="jabber@1.35">
      <targets>
        <hudson.plugins.im.GroupChatIMMessageTarget plugin="instant-messaging@1.35">
          <name>cdp@conference.epages.de</name>
          <notificationOnly>false</notificationOnly>
        </hudson.plugins.im.GroupChatIMMessageTarget>
      </targets>
      <strategy>FAILURE_AND_FIXED</strategy>
      <notifyOnBuildStart>false</notifyOnBuildStart>
      <notifySuspects>false</notifySuspects>
      <notifyCulprits>false</notifyCulprits>
      <notifyFixers>false</notifyFixers>
      <notifyUpstreamCommitters>true</notifyUpstreamCommitters>
      <buildToChatNotifier class="hudson.plugins.im.build_notify.SummaryOnlyBuildToChatNotifier" plugin="instant-messaging@1.35"/>
      <matrixMultiplier>ONLY_CONFIGURATIONS</matrixMultiplier>
    </hudson.plugins.jabber.im.transport.JabberPublisher>
    <com.chikli.hudson.plugin.naginator.NaginatorPublisher plugin="naginator@1.17.2">
      <regexpForRerun>(java.io.IOException|java.lang.NullPointerException)</regexpForRerun>
      <rerunIfUnstable>true</rerunIfUnstable>
      <rerunMatrixPart>false</rerunMatrixPart>
      <checkRegexp>true</checkRegexp>
      <regexpForMatrixStrategy>TestParent</regexpForMatrixStrategy>
      <delay class="com.chikli.hudson.plugin.naginator.FixedDelay">
        <delay>180</delay>
      </delay>
      <maxSchedule>1</maxSchedule>
    </com.chikli.hudson.plugin.naginator.NaginatorPublisher>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.32">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>VIRTUAL_MACHINE=cd-vm-test-master-03</properties>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
          </configs>
          <projects>cdp_Shut_down_virtual_machine</projects>
          <condition>SUCCESS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ansicolor.AnsiColorBuildWrapper plugin="ansicolor@0.4.2">
      <colorMapName>xterm</colorMapName>
    </hudson.plugins.ansicolor.AnsiColorBuildWrapper>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.4"/>
  </buildWrappers>
</project>