<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This job was created to publish a version.&lt;br /&gt;&#xd;
According to &lt;a href=&quot;https://wiki.intern.epages.de/wiki/CDP#Publish_ePages_Repositories&quot;&gt;this documentation&lt;/a&gt;, the job will publish a repository if you enter a version.&lt;br /&gt;&lt;br /&gt;&#xd;
&lt;img src=&quot;http://4.bp.blogspot.com/-OVeWzrRsKfg/VpNhaAUZonI/AAAAAAAABQY/DAcTz4CLZQM/s200/PublishButton.png&quot;&gt;</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>UNDEFINED</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>VERSION</name>
          <description>Enter the version, which should be published. </description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PREVIOUS_VERSION</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.4.3">
      <gitLabConnection>https://am-git.intern.epages.de/</gitLabConnection>
    </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <de.pellepelster.jenkins.walldisplay.WallDisplayJobProperty plugin="jenkinswalldisplay@0.6.30"/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>ep-build-64</assignedNode>
  <canRoam>false</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># Deploy epages-infra repo.
if [[ ! -d ~/epages6-packages/.git ]] ; then
    cd ~
    git clone git@github.com:ePages-de/epages6-packages
else
    cd ~/epages6-packages &amp;&amp; git pull origin master
fi
if [[ ! -d ~/epages-infra/.git ]] ; then
    cd ~
    git clone git@github.com:ePages-de/epages-infra
else
    cd ~/epages-infra &amp;&amp; git pull origin master
fi</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command># Start the publish process
~/epages6-packages/scripts/PublishRepos.sh -b $VERSION
~/epages-infra/scripts/ftp-rsync/cdp-delete-repos.sh -r $VERSION -d /home/build/repo -x 1
ssh ftp.epages.com &quot;~/epages-infra/scripts/ftp-rsync/cdp-delete-repos.sh -r $VERSION -d /home/ftpadmin/data/pub/epages/build/repo -x 1&quot;
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.57.2">
      <recipientList>rschmidt@epages.de, amteam@epages.com, wfilss@epages.de, a.heidrich@epages.com, c.seeger@epages.com, c.koehler@epages.com, f.stangenberger@epages.com,
j.peschke@epages.com, k.peskova@epages.com, m.kulig@epages.com, n.lachmann@epages.com, n.franke@epages.com, p.mehler@epages.com, t.haapakoski@epages.com, tulber@epages.com</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.SuccessTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>ePages version $VERSION has been released. [$BUILD_STATUS]</defaultSubject>
      <defaultContent>Node: ${ENV, var=&quot;NODE_NAME&quot;}
Build: ${BUILD_NUMBER} - ${BUILD_URL}

Build log:
${BUILD_LOG, maxLines=20, escapeHtml=0}</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <postsendScript></postsendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.32">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.CurrentBuildParameters/>
          </configs>
          <projects>cdp_set_git_tag_after_publish</projects>
          <condition>SUCCESS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.8"/>
  </buildWrappers>
</project>