<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>project</name>
          <description>Provider for the configuration</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>Strato</string>
              <string>1und1EU</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>target_hostname</name>
          <description>name of vm to create</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>to-qa-strato-centos7.epages.systems</string>
              <string>to-qa-1und1-debian8.epages.systems</string>
              <string>vm-mzeyen2.vm-intern.epages.com</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>stage</name>
          <description></description>
          <defaultValue>interntestvm</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>project_version</name>
          <description>the target version of the project installation</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>am_version</name>
          <description>used also to fetch Jenkins Job definition.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>basic_version</name>
          <description>Optional, defaults to project_version, only used for 1und1</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.4.3">
      <gitLabConnection>https://am-git.intern.epages.de/</gitLabConnection>
    </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <de.pellepelster.jenkins.walldisplay.WallDisplayJobProperty plugin="jenkinswalldisplay@0.6.30"/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>always_online</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#curl -k https://am-vm-jenkins.intern.epages.de/job/create%20team%20orange%20vm/buildWithParameters?token=create_from_template \
#-d &quot;template=$template&quot; \
#-d &quot;vm_name=$vm_name&quot; \
#-d &quot;delete_if_exists=$delete_if_exists&quot;</command>
    </hudson.tasks.Shell>
    <org.jenkinsci.plugins.ParameterizedRemoteTrigger.RemoteBuildConfiguration plugin="Parameterized-Remote-Trigger@2.2.2">
      <token></token>
      <remoteJenkinsName>AM Jenkins</remoteJenkinsName>
      <job>AM Tasks Cap install release</job>
      <shouldNotFailBuild>false</shouldNotFailBuild>
      <pollInterval>30</pollInterval>
      <connectionRetryLimit>5</connectionRetryLimit>
      <preventRemoteBuildQueue>false</preventRemoteBuildQueue>
      <blockBuildUntilComplete>true</blockBuildUntilComplete>
      <enhancedLogging>true</enhancedLogging>
      <parameters>project=${project}
stage=${stage}
project_version=${project_version}
target_hostname=${target_hostname}
am_version=${am_version}
basic_version=${basic_version}
</parameters>
      <parameterList>
        <string>project=${project}</string>
        <string>stage=${stage}</string>
        <string>project_version=${project_version}</string>
        <string>target_hostname=${target_hostname}</string>
        <string>am_version=${am_version}</string>
        <string>basic_version=${basic_version}</string>
      </parameterList>
      <overrideAuth>false</overrideAuth>
      <auth>
        <org.jenkinsci.plugins.ParameterizedRemoteTrigger.Auth>
          <NONE>none</NONE>
          <API__TOKEN>apiToken</API__TOKEN>
          <CREDENTIALS__PLUGIN>credentialsPlugin</CREDENTIALS__PLUGIN>
        </org.jenkinsci.plugins.ParameterizedRemoteTrigger.Auth>
      </auth>
      <loadParamsFromFile>false</loadParamsFromFile>
      <parameterFile></parameterFile>
      <queryString></queryString>
    </org.jenkinsci.plugins.ParameterizedRemoteTrigger.RemoteBuildConfiguration>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>