<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.10">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>Phase</name>
          <description>&lt;b&gt;Phase which tells what shoul be done:&lt;/b&gt;
&lt;li&gt;i18n_package tells to build package which should be translated by translation agency&lt;/li&gt;
&lt;li&gt;integration tells to integrate translations from translation agency&lt;/li&gt;</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>i18n_package</string>
              <string>integration</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Branch</name>
          <description>e.g.: ep-friedel:fix/double-encoding-editing-product-name-in-rich-table-UNITY-3793
&lt;br&gt;
&lt;b&gt;Note!&lt;/b&gt; If &quot;Force&quot; is true you will overwrite for this branch results of previous execution</description>
          <defaultValue>remote:issue/jira_case-12345</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>All</name>
          <description>Integrates/Builds translation packages for all branches&lt;br&gt;
Default: FALSE
&lt;br&gt;
&lt;b&gt;Note!&lt;/b&gt; If &quot;Force&quot; is true you will overwrite all results of previous execution</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>Force</name>
          <description>&lt;b&gt;Note!&lt;/b&gt;&lt;br&gt;
If this parameter is set then all results by integration or by creation of packages will be overwritten.&lt;br&gt;
Use this parameter if you know what you are doing.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>TestMode</name>
          <description>If this is set then the results of execution will be not integrated or pushed to ftp server.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Version</name>
          <description>This is translation round, it should correspond to current release version</description>
          <defaultValue>v7.12.0</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.4.3">
      <gitLabConnection>https://am-git.intern.epages.de/</gitLabConnection>
    </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@2.30">
    <scm class="hudson.plugins.git.GitSCM" plugin="git@2.5.3">
      <configVersion>2</configVersion>
      <userRemoteConfigs>
        <hudson.plugins.git.UserRemoteConfig>
          <url>https://github.com/ePages-de/lp-build</url>
          <credentialsId>f57a52ae-2c3d-4b26-9342-0eac1f047740</credentialsId>
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>*/dev</name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <submoduleCfg class="list"/>
      <extensions/>
    </scm>
    <scriptPath>Jenkins.groovy</scriptPath>
    <lightweight>true</lightweight>
  </definition>
  <triggers/>
</flow-definition>