<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>60</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>UNDEFINED</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>VERSION</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>REPO</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.4.3">
      <gitLabConnection>https://am-git.intern.epages.de/</gitLabConnection>
    </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <de.pellepelster.jenkins.walldisplay.WallDisplayJobProperty plugin="jenkinswalldisplay@0.6.30">
      <wallDisplayName>Install test A-01: Single host CentOS - Install ePages</wallDisplayName>
    </de.pellepelster.jenkins.walldisplay.WallDisplayJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <quietPeriod>0</quietPeriod>
  <assignedNode>cd-vm-test-install-sh-centos7-01</assignedNode>
  <canRoam>false</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>true</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
puppet agent --test
if [[ $? -eq 0 || $? -eq 2 ]] ; then
    exit 0
else
    exit 1
fi
# Copy files from ~/epages-infra/configuration/yum.repos.d to /etc/yum.repos.d
~/epages-infra/scripts/centos/update-centos-mirrors.sh
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>export BUILD_ID=dontKillMe
~/epages-infra/scripts/epages/jenkins-installs-epages.sh -i simple/install-epages-BRUS.conf -r ftp://ftp.epages.com/pub/epages/build/repo/$VERSION/latest
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
export BUILD_ID=dontKillMe
. /etc/default/epages6
cd $EPAGES_CARTRIDGES/DE_EPAGES
$PERL Makefile.PL

/bin/cp -p $EPAGES_STORES/Site/ShopImport/LocaleDemo.xml .
for dialect in ptBR enUS ; do
  cat ~/epages-infra/configuration/install-epages/XML/LocaleDemo-$dialect.xml &gt; $EPAGES_STORES/Site/ShopImport/LocaleDemo.xml
  make install_demoshop STORE=Store$dialect DEMOSHOP_ALIAS=Store${dialect}_Demo
done
/bin/mv LocaleDemo.xml $EPAGES_STORES/Site/ShopImport
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>export BUILD_ID=dontKillMe
export EXCLUDE_FILES_IN_NORMALIZE=&apos;XML/ShopTypes&apos;
~/epages-infra/scripts/epages/fingerprint/create_fingerprint.sh -a</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>export BUILD_ID=dontKillMe
~/epages-infra/scripts/epages/fingerprint/copy_fingerprint.sh -v &quot;${VERSION}&quot; -r &quot;${REPO}&quot; -i &apos;singlehost&apos; -t &apos;install&apos; -s /tmp/epages-installation-fingerprint</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
# Start language tests
for LANGUAGE in ca cs da es fr fi it nl no pt ru sv ; do
    ~/epages-infra/scripts/epages/test/run_check_language_tags.sh -s &quot;Store&quot; -l &quot;${LANGUAGE}&quot;
    if [[ $? -ne 0 ]] ; then ERRORS=&apos;true&apos; ; fi
done
# Start tests for dialects
for LANGUAGE in en-US pt-BR ; do
    ~/epages-infra/scripts/epages/test/run_check_language_tags.sh -s &quot;Store${LANGUAGE/-/}&quot; -l &quot;${LANGUAGE%%-*}&quot;
    if [[ $? -ne 0 ]] ; then ERRORS=&apos;true&apos; ; fi
done
# Exit, if errors occured
if [[ &quot;${ERRORS}&quot; = &apos;true&apos; ]] ; then exit 1 ; fi</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command># Start language tests
~/epages-infra/scripts/epages/test/run_compare_language_files.sh -a
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command># Start duplicated language Tag test

#. /etc/default/epages6
#$PERL $EPAGES_CARTRIDGES/DE_EPAGES/Presentation/Scripts/checkDuplicateTagDefs.pl $EPAGES_CARTRIDGES/DE_EPAGES</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
# Start object reference test
. /etc/default/epages6
$PERL $EPAGES_CARTRIDGES/DE_EPAGES/Test/t/ObjectReferenceTest.t</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command># Start shorturl test.
~/epages-infra/scripts/epages/test/test_shorturls.sh</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <com.chikli.hudson.plugin.naginator.NaginatorPublisher plugin="naginator@1.17.2">
      <regexpForRerun>(java.io.IOException|java.lang.NullPointerException|offline)</regexpForRerun>
      <rerunIfUnstable>true</rerunIfUnstable>
      <rerunMatrixPart>false</rerunMatrixPart>
      <checkRegexp>true</checkRegexp>
      <regexpForMatrixStrategy>TestParent</regexpForMatrixStrategy>
      <delay class="com.chikli.hudson.plugin.naginator.FixedDelay">
        <delay>180</delay>
      </delay>
      <maxSchedule>0</maxSchedule>
    </com.chikli.hudson.plugin.naginator.NaginatorPublisher>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.32">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>VIRTUAL_MACHINE=cd-vm-test-install-sh-centos7-01.intern.epages.de
</properties>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
          </configs>
          <projects>cdp_Shut_down_virtual_machine</projects>
          <condition>SUCCESS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ansicolor.AnsiColorBuildWrapper plugin="ansicolor@0.4.2">
      <colorMapName>xterm</colorMapName>
    </hudson.plugins.ansicolor.AnsiColorBuildWrapper>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.4"/>
  </buildWrappers>
</project>