<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This job creates a snapshot for the latest released ePages version which is used in patching later.&lt;br /&gt;&lt;br /&gt;&#xd;
Needed parameters: &lt;br /&gt;&lt;br /&gt;&#xd;
* &lt;b&gt;$VERSION&lt;/b&gt; - Create new snapshot with that version.&lt;br /&gt;&#xd;
* &lt;b&gt;$PREVIOUS_VERSION&lt;/b&gt; - Delete existing snapshot with that version.&lt;br /&gt;</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>60</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>UNDEFINED</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>VERSION</name>
          <description>Create new snapshot with that version.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PREVIOUS_VERSION</name>
          <description>Delete existing snapshot with that version.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.4.3">
      <gitLabConnection>https://am-git.intern.epages.de/</gitLabConnection>
    </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <de.pellepelster.jenkins.walldisplay.WallDisplayJobProperty plugin="jenkinswalldisplay@0.6.30"/>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <quietPeriod>0</quietPeriod>
  <assignedNode>always_online</assignedNode>
  <canRoam>false</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>true</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.jenkinsci.plugins.vsphere.VSphereBuildStepContainer plugin="vsphere-cloud@2.12">
      <buildStep class="org.jenkinsci.plugins.vsphere.builders.RevertToSnapshot">
        <vsphere>
          <url>https://vcenter.intern.epages.de/sdk</url>
          <session>vmware_soap_session=&quot;c089edbc59ff7e0c0141b10e69f739be4a423ed0&quot;; Path=/; HttpOnly; Secure;</session>
        </vsphere>
        <vm>ci-vm-flex-patch-test-site-centos-latest-01</vm>
        <snapshotName>OS</snapshotName>
      </buildStep>
      <serverName>vCenter</serverName>
      <serverHash>-619960884</serverHash>
    </org.jenkinsci.plugins.vsphere.VSphereBuildStepContainer>
    <org.jenkinsci.plugins.vsphere.VSphereBuildStepContainer plugin="vsphere-cloud@2.12">
      <buildStep class="org.jenkinsci.plugins.vsphere.builders.PowerOn">
        <vsphere>
          <url>https://vcenter.intern.epages.de/sdk</url>
          <session>vmware_soap_session=&quot;7954099420f604f12e8599f1c12113e865c2ad33&quot;; Path=/; HttpOnly; Secure;</session>
        </vsphere>
        <vm>ci-vm-flex-patch-test-site-centos-latest-01</vm>
        <timeoutInSeconds>180</timeoutInSeconds>
      </buildStep>
      <serverName>vCenter</serverName>
      <serverHash>-619960884</serverHash>
    </org.jenkinsci.plugins.vsphere.VSphereBuildStepContainer>
    <org.jenkinsci.plugins.vsphere.VSphereBuildStepContainer plugin="vsphere-cloud@2.12">
      <buildStep class="org.jenkinsci.plugins.vsphere.builders.RevertToSnapshot">
        <vsphere>
          <url>https://vcenter.intern.epages.de/sdk</url>
          <session>vmware_soap_session=&quot;0ffb78033eef9ed3582b7baee3a791809c52963c&quot;; Path=/; HttpOnly; Secure;</session>
        </vsphere>
        <vm>ci-vm-flex-patch-test-store-centos-latest-01</vm>
        <snapshotName>OS</snapshotName>
      </buildStep>
      <serverName>vCenter</serverName>
      <serverHash>-619960884</serverHash>
    </org.jenkinsci.plugins.vsphere.VSphereBuildStepContainer>
    <org.jenkinsci.plugins.vsphere.VSphereBuildStepContainer plugin="vsphere-cloud@2.12">
      <buildStep class="org.jenkinsci.plugins.vsphere.builders.PowerOn">
        <vsphere>
          <url>https://vcenter.intern.epages.de/sdk</url>
          <session>vmware_soap_session=&quot;38737f41bda0ab82cd396fa000f19add64ff7034&quot;; Path=/; HttpOnly; Secure;</session>
        </vsphere>
        <vm>ci-vm-flex-patch-test-store-centos-latest-01</vm>
        <timeoutInSeconds>180</timeoutInSeconds>
      </buildStep>
      <serverName>vCenter</serverName>
      <serverHash>-619960884</serverHash>
    </org.jenkinsci.plugins.vsphere.VSphereBuildStepContainer>
  </builders>
  <publishers>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.32">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.CurrentBuildParameters/>
          </configs>
          <projects>prev_Flex_install_finish_Store</projects>
          <condition>SUCCESS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ansicolor.AnsiColorBuildWrapper plugin="ansicolor@0.5.0">
      <colorMapName>xterm</colorMapName>
    </hudson.plugins.ansicolor.AnsiColorBuildWrapper>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.8"/>
  </buildWrappers>
</project>