<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Install ep6dev + latest Unity on an intern machine: ep6unity2.vm-intern.epages,com&#xd;
&lt;ul&gt;&#xd;
  &lt;li&gt;Install current ePages6 develop&lt;/li&gt;&#xd;
  &lt;li&gt;Install eP6dev&lt;/li&gt;&#xd;
  &lt;li&gt;Install Unity latest&lt;/li&gt;&#xd;
  &lt;li&gt;Install Setup ep6-Unity-connection including sub domain routing and ssl&lt;/li&gt;&#xd;
&lt;/ul&gt;&#xd;
&#xd;
</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>UNDEFINED</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.4.3">
      <gitLabConnection>https://am-git.intern.epages.de/</gitLabConnection>
    </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <de.pellepelster.jenkins.walldisplay.WallDisplayJobProperty plugin="jenkinswalldisplay@0.6.30"/>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.5.3">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>git@github.com:ePages-de/Cartridges.git</url>
        <credentialsId>596d6633-1bb8-4ba9-9a9d-b4c652127182</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/develop</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <quietPeriod>0</quietPeriod>
  <assignedNode>ep6unity2.vm-intern.epages.com</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
date
echo &quot;Step: Update infra repo&quot;
if [[ ! -d ~/epages-infra/.git ]] ; then
    cd ~
    git clone git@github.com:ePages-de/epages-infra.git
else
    cd ~/epages-infra &amp;&amp; git pull origin master
fi
echo &quot;teamepages6: Update infra repo done&quot;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>export BUILD_ID=dontKillMe

echo &quot;Step: Start docker&quot;
# start docker
service docker start
docker-compose pull
docker-compose up -d

echo &quot;Step: Start install epages6&quot;
export VERSION=`~/epages-infra/scripts/epages/util/get_version_number_from_makefile.sh -f &quot;${WORKSPACE}/DE_EPAGES/Makefile.PL&quot;`
echo &quot;Version detected: &quot; ${VERSION}
#export VERSION=7.5.0

#export REPO=&quot;ftp://ftp.epages.com/pub/epages/build/repo/${VERSION}/latest&quot;
#~/epages-infra/scripts/epages/jenkins-installs-epages.sh -i simple/install-epages.conf -r ${REPO}


export EPAGES_REPO=ftp://ftp.epages.com/pub/epages/build/repo/$VERSION/latest
yum -y install perl-Data-Dumper
rpm -hiv $EPAGES_REPO/yum/epages-release.noarch.rpm
/var/epages/SetRepository.sh -r $EPAGES_REPO 
yum -y install @epages

echo &quot;teamepages6: Install base done&quot;

echo &quot;Step: Reinstall docker&quot;
docker stop $(docker ps -a -q)
# Delete all containers
docker rm $(docker ps -a -q)
# Delete all images
docker rmi $(docker images -q)
docker-compose pull
docker-compose up -d

echo &quot;Step: check docker services&quot;
docker ps</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
. /etc/default/epages6

# make sure services running
service epages6 start
service epages6 start_java
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
echo &quot;Step: Get repo ep6dev&quot;
. /etc/default/epages6
cd $EPAGES

mv Cartridges Cartridges_old
git clone git@github.com:ePages-de/Cartridges.git  Cartridges

cd $EPAGES_CARTRIDGES
git remote add epages6dev git@github.com:epages6dev/Cartridges.git
git checkout 
git fetch epages6dev

echo &quot;Step: Create branch ep6dev&quot;
git checkout -b ep6dev epages6dev/ep6dev

echo &quot;Step: Delete RND_EPAGES&quot;
rm -rf RND_EPAGES/
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
echo &quot;Step: Start reinstall&quot;
. /etc/default/epages6
service epages6 start
service epages6 start_java
cd $EPAGES_CARTRIDGES/DE_EPAGES
$PERL Makefile.PL
make reinstall
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

echo &quot;Step: Setup epages /etc/default/epages6&quot;

sed -i &quot;s/^HTTPD_OPTS=.*/HTTPD_OPTS=&apos;-DSSL -DVHOSTS_NAME -DUNITY_VHOST&apos;/&quot; /etc/default/epages6
. /etc/default/epages6


echo &quot;Step: Set up 4 app server&quot;
~/epages-infra/scripts/epages/configure_app_servers.sh -m 500 -n 4
service epages6 start
service epages6 start_java
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
echo &quot;Step: Set up TBO&quot;
. /etc/default/epages6
#export MYHOSTNAME=ep6unity2.vm-intern.epages.com
export MYHOSTNAME=$(hostname --fqdn)


$PERL $EPAGES_CARTRIDGES/DE_EPAGES/Object/Scripts/set.pl -storename Site -path &quot;/Stores/Store&quot; UnityUrlScheme=&quot;$MYHOSTNAME&quot;
$PERL $EPAGES_CARTRIDGES/DE_EPAGES/Object/Scripts/set.pl -storename Site -path &quot;/Stores/Store&quot; UnityApiUrlScheme=&quot;api.$MYHOSTNAME/api/v2&quot;
$PERL $EPAGES_CARTRIDGES/DE_EPAGES/Object/Scripts/set.pl -storename Site -path &quot;/Stores/Store&quot; UnityUseSubdomainRouting=&quot;1&quot;
$PERL $EPAGES_CARTRIDGES/DE_EPAGES/Object/Scripts/set.pl -storename Site -path &quot;/Stores/Store&quot; HasSSLCertificateUnity=&quot;1&quot;
$PERL $EPAGES_CARTRIDGES/DE_EPAGES/Object/Scripts/set.pl -storename Site -path &quot;/Stores/Store&quot; UnityWebServerPort=&quot;80&quot;
$PERL $EPAGES_CARTRIDGES/DE_EPAGES/Object/Scripts/set.pl -storename Site -path &quot;/Stores/Store&quot; UnitySSLWebServerPort=&quot;443&quot;
$PERL $EPAGES_CARTRIDGES/DE_EPAGES/Object/Scripts/set.pl -storename Store -path / HasSSLCertificate=&quot;1&quot;  UnityBaseURL=&quot;http://$MYHOSTNAME&quot;

/var/epages/ini-config.sh -i -f $EPAGES_CONFIG/Database.d/Store.conf -k jwtsecret -v &apos;this-is-super-secret---not&apos;

</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#enable emails
echo &apos;127.0.0.1   mail&apos; &gt;&gt; /etc/hosts


echo restart services
service epages6 start
service epages6 start_java
date
. /etc/default/epages6

echo &quot;Step: Install languages: fr, es, ca, sv, ru&quot;
. /etc/default/epages6
STORE=Store
cd $EPAGES_CARTRIDGES/DE_EPAGES/Installer/Scripts
LANGUAGE=fr
$PERL updateForLP.pl -storename $STORE -langpack $LANGUAGE
$PERL importDBStrings.pl -storename $STORE -lang $LANGUAGE
LANGUAGE=es
$PERL updateForLP.pl -storename $STORE -langpack $LANGUAGE
$PERL importDBStrings.pl -storename $STORE -lang $LANGUAGE
LANGUAGE=ca
$PERL updateForLP.pl -storename $STORE -langpack $LANGUAGE
$PERL importDBStrings.pl -storename $STORE -lang $LANGUAGE
LANGUAGE=sv
$PERL updateForLP.pl -storename $STORE -langpack $LANGUAGE
$PERL importDBStrings.pl -storename $STORE -lang $LANGUAGE
LANGUAGE=ru
$PERL updateForLP.pl -storename $STORE -langpack $LANGUAGE
$PERL importDBStrings.pl -storename $STORE -lang $LANGUAGE


echo &quot;Step: Create shops&quot;
echo &quot;EPAGES_CARTRIDGES: &quot; $EPAGES_CARTRIDGES
      
$PERL /srv/epages/eproot/Cartridges/DE_EPAGES/ShopConfiguration/Scripts/createShop.pl -wsuser Providers/Distributor/Users/admin -passwd admin -shoptype UnityDE -storename Store -alias esf-test -scriptname esf-test
$PERL /srv/epages/eproot/Cartridges/DE_EPAGES/Object/Scripts/set.pl -storename Store -path &quot;/Shops/esf-test&quot; MailFrom=p.domin@epages.com

$PERL /srv/epages/eproot/Cartridges/DE_EPAGES/ShopConfiguration/Scripts/createShop.pl -wsuser Providers/Distributor/Users/admin -passwd admin -shoptype UnityDE -storename Store -alias pipeline-test -scriptname pipeline-test
$PERL /srv/epages/eproot/Cartridges/DE_EPAGES/Object/Scripts/set.pl -storename Store -path &quot;/Shops/pipeline-test&quot; MailFrom=p.domin@epages.com

$PERL /srv/epages/eproot/Cartridges/DE_EPAGES/ShopConfiguration/Scripts/createShop.pl -wsuser Providers/Distributor/Users/admin -passwd admin -shoptype UnityGB -storename Store -alias test-en -scriptname test-en
$PERL /srv/epages/eproot/Cartridges/DE_EPAGES/Object/Scripts/set.pl -storename Store -path &quot;/Shops/test-en&quot; MailFrom=p.domin@epages.com

$PERL /srv/epages/eproot/Cartridges/DE_EPAGES/ShopConfiguration/Scripts/createShop.pl -wsuser Providers/Distributor/Users/admin -passwd admin -shoptype UnityDemo -storename Store -alias fg-test -scriptname fg-test
$PERL /srv/epages/eproot/Cartridges/DE_EPAGES/Object/Scripts/set.pl -storename Store -path &quot;/Shops/test-en&quot; MailFrom=f.gehring@epages.com

$PERL /srv/epages/eproot/Cartridges/DE_EPAGES/ShopConfiguration/Scripts/createShop.pl -wsuser Providers/Distributor/Users/admin -passwd admin -shoptype UnityDemo -storename Store -alias chshop -scriptname chshop
$PERL /srv/epages/eproot/Cartridges/DE_EPAGES/Object/Scripts/set.pl -storename Store -path &quot;/Shops/test-en&quot; MailFrom=c.hagenbring@epages.com

$PERL /srv/epages/eproot/Cartridges/DE_EPAGES/ShopConfiguration/Scripts/createShop.pl -wsuser Providers/Distributor/Users/admin -passwd admin -shoptype UnityDemo -storename Store -alias unitydemo -scriptname unitydemo
$PERL /srv/epages/eproot/Cartridges/DE_EPAGES/Object/Scripts/set.pl -storename Store -path &quot;/Shops/test-en&quot; MailFrom=pdomin@epages.com

$PERL $EPAGES_CARTRIDGES/DE_EPAGES/ShopConfiguration/Scripts/createShop.pl -wsuser Providers/Distributor/Users/admin -passwd admin -shoptype UnityDE -storename Store -alias testshopunity -scriptname testshopunity
$PERL $EPAGES_CARTRIDGES/DE_EPAGES/Object/Scripts/set.pl -storename Store -path &quot;/Shops/testshopunity&quot; MailFrom=p.domin@epages.com

echo &quot;Step: Import web service client&quot;
cd ~
$PERL $EPAGES_CARTRIDGES/DE_EPAGES/Object/Scripts/import.pl -storename Store -path &quot;/&quot; ClientApplications.xml

service epages6 start
service epages6 start_java

</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.57.2">
      <recipientList>p.domin@epages.com</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.UnstableTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.UnstableTrigger>
        <hudson.plugins.emailext.plugins.trigger.StillFailingTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.StillFailingTrigger>
        <hudson.plugins.emailext.plugins.trigger.StillUnstableTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.StillUnstableTrigger>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
      </configuredTriggers>
      <contentType>text/plain</contentType>
      <defaultSubject>[CI][${FILE, path=&quot;/tmp/cvs_branch&quot;}] ${PROJECT_NAME}: ${BUILD_STATUS}</defaultSubject>
      <defaultContent>Node: ${ENV, var=&quot;NODE_NAME&quot;}
Branch: ${FILE, path=&quot;/tmp/cvs_branch&quot;}
Build: ${BUILD_NUMBER} - ${BUILD_URL}

Build log:
${BUILD_LOG, maxLines=100, escapeHtml=0}</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript></presendScript>
      <postsendScript></postsendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo></replyTo>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
    <com.chikli.hudson.plugin.naginator.NaginatorPublisher plugin="naginator@1.17.2">
      <regexpForRerun>java.io.IOException</regexpForRerun>
      <rerunIfUnstable>true</rerunIfUnstable>
      <rerunMatrixPart>false</rerunMatrixPart>
      <checkRegexp>true</checkRegexp>
      <regexpForMatrixStrategy>TestParent</regexpForMatrixStrategy>
      <delay class="com.chikli.hudson.plugin.naginator.ProgressiveDelay">
        <increment>300</increment>
        <max>10800</max>
      </delay>
      <maxSchedule>0</maxSchedule>
    </com.chikli.hudson.plugin.naginator.NaginatorPublisher>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.32">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs class="empty-list"/>
          <projects>J51_Load_snapshot_for_J52</projects>
          <condition>ALWAYS</condition>
          <triggerWithNoParameters>true</triggerWithNoParameters>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.8"/>
  </buildWrappers>
</project>