<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>DEMOSHOPTYPE=Flex_6_17_9</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>UNDEFINED</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>VERSION</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SITEDOMAIN</name>
          <description></description>
          <defaultValue>ci-vm-flex-patch-test-site-centos-latest-01.intern.epages.de</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>STOREDOMAIN</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>STOREIP</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SHOPTYPE</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DEMOSHOPTYPE</name>
          <description></description>
          <defaultValue>Flex_6_17_9</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DEMOSHOPALIAS</name>
          <description></description>
          <defaultValue>DemoShop</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DEMOSTORENAME</name>
          <description></description>
          <defaultValue>DemoShop</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>REPO</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.4.3">
      <gitLabConnection>https://am-git.intern.epages.de/</gitLabConnection>
    </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <de.pellepelster.jenkins.walldisplay.WallDisplayJobProperty plugin="jenkinswalldisplay@0.6.30">
      <wallDisplayName>Flex Patch Test - 06 - Patch Site</wallDisplayName>
    </de.pellepelster.jenkins.walldisplay.WallDisplayJobProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <quietPeriod>0</quietPeriod>
  <assignedNode>ci-vm-flex-patch-test-site-centos-latest-01</assignedNode>
  <canRoam>false</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>true</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
### Create a Flex Management Host ###
export BUILD_ID=dontKillMe

# Deploy epages-infra repo.
if [[ ! -d ~/epages-infra/.git ]] ; then
    echo &apos;Deploying repo epages-infra...&apos;
    cd ~
    git clone git@github.com:ePages-de/epages-infra.git
else
    echo &apos;Updating master branch of repo epages-infra...&apos;
    cd ~/epages-infra &amp;&amp; git pull origin master
fi

#update centos repos
~/epages-infra/scripts/centos/update-centos-mirrors.sh
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>export BUILD_ID=dontKillMe

export EPAGES_REPOURL=ftp://ftp.epages.com/pub/epages/build/repo/$VERSION/latest
export EPAGES_INSTALLATION=&apos;-epages&apos;
curl -L $EPAGES_REPOURL/install-epages.sh | bash</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>export BUILD_ID=dontKillMe

# Install ansible
yum -y install epel-release
sed -ri &apos;s,(enabled=).*,\10,&apos; /etc/yum.repos.d/epel.repo
yum -y install ansible --enablerepo epel
 </command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>export BUILD_ID=dontKillMe

#Type the return key until ssh-keygen has finished.
export EPAGES_REPOURL=ftp://ftp.epages.com/pub/epages/build/repo/$VERSION/latest
FLEX_HOSTS=&apos;ci-vm-flex-patch-test-store-centos-latest-01&apos;
echo &quot;ansible-playbook /var/epages/flex/ansible/update-conf.yml -e repo=$EPAGES_REPOURL -e \&quot;{&apos;stores&apos;: [&apos;${FLEX_HOSTS// /&apos;,&apos;}&apos;]}\&quot;&quot;
ansible-playbook /var/epages/flex/ansible/update-conf.yml -e repo=$EPAGES_REPOURL -e &quot;{&apos;stores&apos;: [&apos;${FLEX_HOSTS// /&apos;,&apos;}&apos;]}&quot;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>export BUILD_ID=dontKillMe

#After running the last commands check that all Flex store connections are successful:
ansible flexstores -a hostname</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>export BUILD_ID=dontKillMe

FLEX_HOSTS=&apos;ci-vm-flex-patch-test-store-centos-latest-01&apos;

#Run migration only for versions lower then 7.11.0
if [[ $VERSION == &quot;7.11.0&quot; ]] 
then
	ansible-playbook /var/epages/flex/ansible/migrate.yml --limit &quot;${FLEX_HOSTS// /,}&quot; -vvv
else
	echo &quot;Version greater then 7.11.0. No Migration needed&quot;
fi
	</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>export BUILD_ID=dontKillMe

#Patch Flex Store machine
ansible-playbook /var/epages/flex/ansible/patch.yml -vvv</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.32">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.CurrentBuildParameters/>
          </configs>
          <projects>dbranch_Flex_run_ESF_and_create_fingerprint_on_Store</projects>
          <condition>SUCCESS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ansicolor.AnsiColorBuildWrapper plugin="ansicolor@0.4.2">
      <colorMapName>xterm</colorMapName>
    </hudson.plugins.ansicolor.AnsiColorBuildWrapper>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.4"/>
  </buildWrappers>
</project>