<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>60</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>UNDEFINED</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
    <jenkins.advancedqueue.priority.strategy.PriorityJobProperty plugin="PrioritySorter@3.4">
      <useJobPriority>false</useJobPriority>
      <priority>-1</priority>
    </jenkins.advancedqueue.priority.strategy.PriorityJobProperty>
    <com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty plugin="naginator@1.17.2">
      <optOut>false</optOut>
    </com.chikli.hudson.plugin.naginator.NaginatorOptOutProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>VERSION</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <de.pellepelster.jenkins.walldisplay.WallDisplayJobProperty plugin="jenkinswalldisplay@0.6.30"/>
  </properties>
  <scm class="hudson.scm.CVSSCM" plugin="cvs@2.12">
    <flatten>true</flatten>
    <repositories>
      <hudson.scm.CvsRepository>
        <cvsRoot>:pserver:ttester:ePages01@ep-cvs.intern.epages.de:/CVS</cvsRoot>
        <repositoryItems>
          <hudson.scm.CvsRepositoryItem>
            <modules>
              <hudson.scm.CvsModule>
                <localName></localName>
                <remoteName>RND/epages/epages5/AllOS/Build/cdp</remoteName>
              </hudson.scm.CvsModule>
            </modules>
            <location class="hudson.scm.CvsRepositoryLocation$HeadRepositoryLocation">
              <locationType>HEAD</locationType>
              <useHeadIfNotFound>false</useHeadIfNotFound>
            </location>
          </hudson.scm.CvsRepositoryItem>
        </repositoryItems>
        <compressionLevel>-1</compressionLevel>
        <excludedRegions>
          <hudson.scm.ExcludedRegion>
            <pattern></pattern>
          </hudson.scm.ExcludedRegion>
        </excludedRegions>
        <passwordRequired>false</passwordRequired>
      </hudson.scm.CvsRepository>
    </repositories>
    <canUseUpdate>true</canUseUpdate>
    <skipChangeLog>false</skipChangeLog>
    <pruneEmptyDirectories>true</pruneEmptyDirectories>
    <disableCvsQuiet>false</disableCvsQuiet>
    <cleanOnFailedUpdate>false</cleanOnFailedUpdate>
    <forceCleanCopy>true</forceCleanCopy>
  </scm>
  <quietPeriod>0</quietPeriod>
  <assignedNode>cdp-vm-build-cartridge-patch-001</assignedNode>
  <canRoam>false</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># Deploy epages-infra repo.
if [[ ! -d ~/epages-infra/.git ]] ; then
    echo &apos;Deploying repo epages-infra...&apos;
    cd ~
    git clone git@github.com:ePages-de/epages-infra.git
else
    echo &apos;Updating master branch of repo epages-infra...&apos;
    cd ~/epages-infra &amp;&amp; git pull origin master
fi</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>export BUILD_ID=dontKillMe
#~/epages-infra/scripts/epages/util/get_version_number_from_version_file.sh -f &quot;${WORKSPACE}/variables&quot; -p &quot;${WORKSPACE}/cdp.properties&quot;
#VERSION=&quot;`grep &apos;PREVIOUS_VERSION&apos; ${WORKSPACE}/cdp.properties | awk -F &apos;=&apos; &apos;{ print $2 }&apos;`&quot;
echo &quot;${VERSION}/latest&quot;
~/epages-infra/scripts/epages/install_epages.sh -r &quot;${VERSION}/latest&quot;</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
export BUILD_ID=dontKillMe
. /etc/default/epages6
cd $EPAGES_CARTRIDGES
rm -rf DE_EPAGES
cvs -q -z1 checkout -d DE_EPAGES -r HEAD RND/epages/epages5/AllOS/Cartridges/DE_EPAGES || exit 1
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>chkconfig epages6 off</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>*.log</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.47">
      <recipientList>f.ziller@epages.de</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <recipientList></recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.RequesterRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
        <hudson.plugins.emailext.plugins.trigger.FixedTrigger>
          <email>
            <recipientList></recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.RequesterRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FixedTrigger>
        <hudson.plugins.emailext.plugins.trigger.StillFailingTrigger>
          <email>
            <recipientList></recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.DevelopersRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.RequesterRecipientProvider/>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.StillFailingTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>Node: ${ENV, var=&quot;NODE_NAME&quot;}
Build: ${BUILD_NUMBER} - ${BUILD_URL}

ePages log files (if already present):
${BUILD_URL}/artifact/error.log
${BUILD_URL}/artifact/debug.log

Build log:
${BUILD_LOG, maxLines=380, escapeHtml=0}

</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript></presendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
    <hudson.plugins.parameterizedtrigger.BuildTrigger plugin="parameterized-trigger@2.32">
      <configs>
        <hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
          <configs class="empty-list"/>
          <projects>cdp_make_snapshot_for_Build_patch_files</projects>
          <condition>SUCCESS</condition>
          <triggerWithNoParameters>true</triggerWithNoParameters>
        </hudson.plugins.parameterizedtrigger.BuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.BuildTrigger>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.4"/>
  </buildWrappers>
</project>